<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the future</h1>
    <% messages.forEach((message) => { %>
        <div class="message">
            <h2><%= message.user %></h2>
            <p><%= message.text %></p>
            <p id="date"><%= message.added %></p>
        </div>
    <% }) %>
    <a href="/new">Add a new message</a>
</body>
</html>